{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      { "useBuiltIns": "usage" }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    "babel-plugin-styled-components",
    "babel-plugin-idx"
  ],
  "env": {
    "production": {
      "plugins": [
        "babel-plugin-transform-react-remove-prop-types",
        [
          "babel-plugin-styled-components",
          { "displayName": false }
        ]
      ]
    }
  }
}
