# dependencies
node_modules

# production
build
bundle.zip
.env

# misc
.DS_Store

npm-debug.log
yarn-error.log
yarn.lock
.yarnclean
localtest

# IDEs
.vscode
.idea/
/coverage/
public/lab/assets/fonts/franklin_gothic_fs*

# tests
cypress/screenshots/*