.btn
  border-radius: 4px
  border: none
  outline: none
  display: inline-block
  padding: 10px 15px
  background: $interactionBg
  text-decoration: none
  color: $white
  font-family: $sans
  font-weight: bold
  font-size: 14px

.input
  border: none
  border-bottom: 1px solid $midgrey
  font-family: $sans
  font-weight: bold
  color: $midgrey
  background: none
  padding: 6px 0
  width: 100%