@import url('https://fonts.googleapis.com/css?family=Roboto\+Slab|Open\+Sans')

$sans = 'Open Sans', sans-serif
$serif = 'Roboto Slab', serif

html,
button,
input,
select,
textarea
  color: $black

body
  font-family: $sans
  -webkit-font-smoothing: antialiased
  color: $black
  font-size: 16px
  line-height: 1.3

h1
  font-size: 22px
  font-weight: bold
  font-family: $serif

.text
  font-family: $sans
  font-size: 14px
  color: $darkgrey

.text--bold
  font-weight: bold

a, a:visited, a:hover
  text-decoration: none
  color: $interaction
  font-family: $sans
  font-weight: 300