@import url('https://fonts.googleapis.com/css?family=Roboto\+Slab')

html,
button,
input,
select,
textarea
  color: $black

body
  font-family: 'Roboto Slab', serif
  -webkit-font-smoothing: antialiased
  color: $black
  font-size: 16px
  line-height: 1.3