  <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!-- <link rel="apple-touch-icon-precomposed" sizes="57x57" href="<%= htmlWebpackPlugin.options.siteUrl %>/apple-touch-icon.png" /> -->

    <!-- <link rel="icon" type="image/png" href="<%= htmlWebpackPlugin.options.siteUrl %>/android-chrome-192x192.png" sizes="192x192" />
    <link rel="icon" type="image/png" href="<%= htmlWebpackPlugin.options.siteUrl %>/android-chrome-512x512.png" sizes="512x512" /> -->

    <link rel="icon" type="image/png" href="<%= htmlWebpackPlugin.options.siteUrl %>/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="<%= htmlWebpackPlugin.options.siteUrl %>/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="<%= htmlWebpackPlugin.options.siteUrl %>/favicon-16x16.png" sizes="16x16" />

    <meta name="msapplication-square150x150logo" content="<%= htmlWebpackPlugin.options.siteUrl %>/mstile-150x150.png" />
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.siteUrl %>/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="<%= htmlWebpackPlugin.options.siteUrl %>/favicon.ico" type="image/x-icon" />

    <!-- <link rel="mask-icon" href="<%= htmlWebpackPlugin.options.siteUrl %>/safari-pinned-tab.svg" color="white"> -->

    <link rel="canonical" href="https://interaktiv.tagesspiegel.de/lab/strassencheck/">
    <title>Der Berliner Straßencheck | Tagesspiegel</title>
    <meta itemprop="name" content="Der Berliner Straßencheck | Tagesspiegel">
    <meta name="twitter:title" content="Der Berliner Straßencheck | Tagesspiegel">
    <meta property="og:title" content="Der Berliner Straßencheck | Tagesspiegel">
    <meta name="description" content="Wie kann der Verkehr besser werden? Machen Sie mit bei unserer Verkehrsumfrage!">
    <meta itemprop="description" content="Wie kann der Verkehr besser werden? Machen Sie mit bei unserer Verkehrsumfrage!">
    <meta name="twitter:description" content="Wie kann der Verkehr besser werden? Machen Sie mit bei unserer Verkehrsumfrage!">
    <meta property="og:description" content="Wie kann der Verkehr besser werden? Machen Sie mit bei unserer Verkehrsumfrage!">
    <meta itemprop="image" content="https://interaktiv.tagesspiegel.de/lab/assets/images/strassencheck/social-media.jpg">
    <meta name="twitter:image:src" content="https://interaktiv.tagesspiegel.de/lab/assets/images/strassencheck/social-media.jpg">
    <meta property="og:image" content="https://interaktiv.tagesspiegel.de/lab/assets/images/strassencheck/social-media.jpg">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@tagesspiegel">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="Tagesspiegel">
    <script src="https://script.ioam.de/iam.js"> </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-W66BGDX');</script>
    <!-- End Google Tag Manager -->

    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['disableCookies']);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://fixmyberlin.de/stats/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '3']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->

    <link rel="stylesheet" type="text/css" href="/lab/assets/fonts/franklin_gothic_fs_v2.css"> 
  </head>
  <body>
    <div id="root"></div>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W66BGDX"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  </body>
</html>
