  <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!-- <link rel="apple-touch-icon-precomposed" sizes="57x57" href="<%= htmlWebpackPlugin.options.siteUrl %>/apple-touch-icon.png" /> -->

    <!-- <link rel="icon" type="image/png" href="<%= htmlWebpackPlugin.options.siteUrl %>/android-chrome-192x192.png" sizes="192x192" />
    <link rel="icon" type="image/png" href="<%= htmlWebpackPlugin.options.siteUrl %>/android-chrome-512x512.png" sizes="512x512" /> -->

    <link rel="icon" type="image/png" href="<%= htmlWebpackPlugin.options.siteUrl %>/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="<%= htmlWebpackPlugin.options.siteUrl %>/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="<%= htmlWebpackPlugin.options.siteUrl %>/favicon-16x16.png" sizes="16x16" />

    <meta name="msapplication-square150x150logo" content="<%= htmlWebpackPlugin.options.siteUrl %>/mstile-150x150.png" />
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.siteUrl %>/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="<%= htmlWebpackPlugin.options.siteUrl %>/favicon.ico" type="image/x-icon" />

    <!-- <link rel="mask-icon" href="<%= htmlWebpackPlugin.options.siteUrl %>/safari-pinned-tab.svg" color="white"> -->

    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['disableCookies']);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="https://fixmyberlin.de/stats/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '3']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->

  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
