<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="apple-touch-icon-precomposed"
      sizes="57x57"
      href="<%= siteUrl %>/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      href="<%= siteUrl %>/android-chrome-192x192.png"
      sizes="192x192"
    />
    <link
      rel="icon"
      type="image/png"
      href="<%= siteUrl %>/android-chrome-512x512.png"
      sizes="512x512"
    />

    <link
      rel="icon"
      type="image/png"
      href="<%= siteUrl %>/favicon-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/png"
      href="<%= siteUrl %>/favicon-16x16.png"
      sizes="16x16"
    />

    <meta
      name="msapplication-square150x150logo"
      content="<%= siteUrl %>/mstile-150x150.png"
    />
    <link
      rel="shortcut icon"
      href="<%= siteUrl %>/favicon.ico"
      type="image/x-icon"
    />
    <link rel="icon" href="<%= siteUrl %>/favicon.ico" type="image/x-icon" />

    <link
      rel="mask-icon"
      href="<%= siteUrl %>/safari-pinned-tab.svg"
      color="white"
    />

    <script type="module" src="./index.jsx"></script>

    <title><%= title %></title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
